# Auto detect text files and perform LF normalization
* text=auto
git init
git add .
git commit -m "Första commit"
git remote add origin https://github.com/AlbinTammemagi/Inla-mningsuppgift-webanalys-interaktionsdesign.git
git push -u origin master
