

#designers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 100px; 
}


.designer {
    text-align: center;
    width: 200px; 
    margin: 20px; 
}

.designer img {
    width: 100%; 
    height: auto;
}

.designer h2 {
    margin-top: 10px; 
}

.designer p {
    margin-top: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 0px;
    z-index: 1000;
}

header h1 a {
    color: #000; 
    text-decoration: none;
}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
}
h2 {
    color: #000;    
    margin-top: 100px;
    text-align: center;
}
.cta-knapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #FF874E; 
}
.cta-knapp {
   
    position: fixed;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
}
a {
    text-decoration: none;
}
/* desktop-stilar här */

@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
  }
  
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px; 
    }
    img 
        width: 200px; 
        height: auto; 