/* contact.css */

#contact-info {
    display: flex;
    justify-content: space-between;
    padding-top: 100px; /* Justera avståndet till innehållet ovanför */
}

.contact-item {
    text-align: center;
    width: 200px;
    margin: 20px;
}

.contact-item h3 {
    font-size: 20px;
    color: #333;
}

.contact-item p {
    font-size: 16px;
    margin-top: 10px;
    color: #666;
}

/* Använd samma header- och footer-stilar som på de andra sidorna */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 0px;
}

header h1 {
    font-size: 24px;
    color: #333;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
}

/* Färgstil för länkarna i kontaktinformationen */
.contact-item a {
    color: #0066cc; /* Anpassa färgen efter ditt val */
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.cta-knapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733; /* Bakgrundsfärg för knappen */
    color: #fff; /* Textfärg */
    text-decoration: none;
    border-radius: 5px; /* Runda hörn på knappen */
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #FF874E; /* Färg vid hover (när muspekaren är över knappen) */
}
.cta-knapp {
    /* Övrig CSS-styling här */
    position: fixed;
    right: 20px;
    top: 50%; /* Justera toppositionen som önskat */
    transform: translateY(-50%); /* Centrera vertikalt */
}
a {
    text-decoration: none;
}

h2 {
    color: #000;    
    margin-top: 100px;
    text-align: center;
}
img {
    width: 400px; 
    height: auto; 
    
}
/* desktop-stilar här */

@media only screen and (max-width: 768px) {
    body {
      font-size: 14px; /* Exempel: Minska textstorleken för mindre skärmar */
    }
  
    /* Lägg till fler anpassade stilar för tabletter här */
  }
  
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px; /* Exempel: Minska textstorleken ytterligare för mobiler */
    }
  
    /* Lägg till fler anpassade stilar för mobiler här */
  }
  